html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    
}
.container {
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding:50px;
}

.game-container {
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
    width: 30rem;
    height: 45rem;
    margin-top: 10rem;
}

.coffee-choices {
    padding: 40px;
}

.coffee-completed {
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.box{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    height: 20px;
    width: 100px;
    margin: 10px;
}

.box16 {
    width: 380px;
    height: 100px;
    margin-top: 40px;
}


.get-change {
    border: 1px solid black;
    width: 10rem;
    height: 45rem;
    margin-top: 10rem;
}

